@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #faf8e8;
}

.navbar {
    font-family: 'Anton', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.navbar-brand {
    display: inline-block;
    padding: auto 10px;
}

.navbar-item>a {
    padding: unset 10px;
}

#maps-carousel {
    margin: 20px auto;
    width: 65% !important;
}

.row {
    margin: 20px 4px;
}

.card {
    border: none;
    padding: 10px;
    outline-offset: -5px;
    outline: 1px solid gray;
    background: #faf8f0;
}

.agent-roles {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    margin-top: 50px;
}

.card-title {
    font-family: 'Anton', sans-serif;
}

.card-text {
    font-family: 'Noto Sans', sans-serif;
}

.fa-caret-down.open {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.fa-caret-down {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
}

#answers {
    list-style-type: none;
}